## Win Percentage

In [2]:
import pandas as pd
import re

In [3]:
com_df = pd.read_csv("Player_Results_CSV_Final.csv")

for i in range(2,7):
    file = "Player_Results_CSV_Final_"+str(i)+".csv"
    df = pd.read_csv(file)
    com_df = com_df.append(df)

In [4]:
no_dup = com_df.drop_duplicates()
no_dup = no_dup.reset_index(drop = True)

In [5]:
for i in range(len(no_dup)):
    if no_dup.Year[i] == 'Year':
        print(i)

4658

In [6]:
#no_dup[no_dup['Year'] == "Year"]
no_dup = no_dup.drop([4658], axis = 0)
DF = no_dup.reset_index(drop=True)

DF['Year'] = DF['Year'].astype('int64')

In [7]:
DF = DF.rename({'Team': "Player Team", 'Team.1': 'Opponent Team'}, axis = 1)
DF

,Year,Tournament,Division,Stage,Player Team,Player,Opponent Team,Oppoenent,Result,Player Games Won,Opponent Games Won,Player Game Scores,Opponent Game Scores
0,2019,제100회 전국체육대회(스쿼시),남자고등부,예선경기４,제주고등학교(제주),김승현,대광발명과학고등학교(부산),이지석,승,0,0,"[0, 0, 0, 0, 0]","[0, 0, 0, 0, 0]"
1,2019,제100회 전국체육대회(스쿼시),남자고등부,예선경기４,대광발명과학고등학교(부산),이지석,제주고등학교(제주),김승현,패,0,0,"[0, 0, 0, 0, 0]","[0, 0, 0, 0, 0]"
2,2019,제100회 전국체육대회(스쿼시),남자고등부,예선경기２,와룡고등학교(대구),이민규,김해생명과학고등학교(경남),지동현,패,0,3,"[7, 1, 3, 0, 0]","[11, 11, 11, 0, 0]"
3,2019,제100회 전국체육대회(스쿼시),남자고등부,예선경기２,김해생명과학고등학교(경남),지동현,와룡고등학교(대구),이민규,승,3,0,"[11, 11, 11, 0, 0]","[7, 1, 3, 0, 0]"
4,2019,제100회 전국체육대회(스쿼시),남자고등부,예선경기３,언양고등학교(울산),강우석,인천 대건고등학교(인천),유민석,승,3,0,"[11, 11, 11, 0, 0]","[2, 3, 1, 0, 0]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11017,2013,제9회 대한체육회장배 전국 스쿼시 선수권 대회,여자중등부,준결승경기１,오마중(경기),송동주,원평중(충북),최유주,패,0,3,"[9, 7, 6, 0, 0]","[11, 11, 11, 0, 0]"
11018,2013,제9회 대한체육회장배 전국 스쿼시 선수권 대회,여자중등부,준결승경기２,농소중(울산),곽다연,연수중(인천),김규리,패,0,3,"[2, 4, 9, 0, 0]","[11, 11, 11, 0, 0]"
11019,2013,제9회 대한체육회장배 전국 스쿼시 선수권 대회,여자중등부,준결승경기２,연수중(인천),김규리,농소중(울산),곽다연,승,3,0,"[11, 11, 11, 0, 0]","[2, 4, 9, 0, 0]"
11020,2013,제9회 대한체육회장배 전국 스쿼시 선수권 대회,여자중등부,결승,원평중(충북),최유주,연수중(인천),김규리,승,3,0,"[11, 11, 11, 0, 0]","[8, 6, 8, 0, 0]"
11021,2013,제9회 대한체육회장배 전국 스쿼시 선수권 대회,여자중등부,결승,연수중(인천),김규리,원평중(충북),최유주,패,0,3,"[8, 6, 8, 0, 0]","[11, 11, 11, 0, 0]"

In [8]:
from tqdm import tqdm

last_5yrs = pd.DataFrame()

for idx in tqdm(range(len(DF))):
    if DF.Year.iloc[idx] >= 2015:
        last_5yrs = last_5yrs.append(DF.iloc[idx])

100%|██████████| 11022/11022 [00:52<00:00, 210.36it/s]

In [9]:
last_5yrs = last_5yrs.reset_index(drop=True)
last_5yrs['Gender'] = 'human'
last_5yrs['Category'] = 'sth'

#keyword = re.compile('남자')
#result = re.search(keyword, div)

for i in range(len(last_5yrs)):
    div = last_5yrs.Division[i]
    #keyword = re.compile('남자')
    #result = re.search(keyword, div)
    splits = div.split('자')
    gender = splits[0]
    category = splits[1]
    last_5yrs['Gender'][i] = gender
    last_5yrs['Category'][i] = category
    #print(splits[0])

last_5yrs

<ipython-input-9-97ca66bb740f>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  last_5yrs['Gender'][i] = gender
<ipython-input-9-97ca66bb740f>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  last_5yrs['Category'][i] = category

,Division,Oppoenent,Opponent Game Scores,Opponent Games Won,Opponent Team,Player,Player Game Scores,Player Games Won,Player Team,Result,Stage,Tournament,Year,Gender,Category
0,남자고등부,이지석,"[0, 0, 0, 0, 0]",0,대광발명과학고등학교(부산),김승현,"[0, 0, 0, 0, 0]",0,제주고등학교(제주),승,예선경기４,제100회 전국체육대회(스쿼시),2019.0,남,고등부
1,남자고등부,김승현,"[0, 0, 0, 0, 0]",0,제주고등학교(제주),이지석,"[0, 0, 0, 0, 0]",0,대광발명과학고등학교(부산),패,예선경기４,제100회 전국체육대회(스쿼시),2019.0,남,고등부
2,남자고등부,지동현,"[11, 11, 11, 0, 0]",3,김해생명과학고등학교(경남),이민규,"[7, 1, 3, 0, 0]",0,와룡고등학교(대구),패,예선경기２,제100회 전국체육대회(스쿼시),2019.0,남,고등부
3,남자고등부,이민규,"[7, 1, 3, 0, 0]",0,와룡고등학교(대구),지동현,"[11, 11, 11, 0, 0]",3,김해생명과학고등학교(경남),승,예선경기２,제100회 전국체육대회(스쿼시),2019.0,남,고등부
4,남자고등부,유민석,"[2, 3, 1, 0, 0]",0,인천 대건고등학교(인천),강우석,"[11, 11, 11, 0, 0]",3,언양고등학교(울산),승,예선경기３,제100회 전국체육대회(스쿼시),2019.0,남,고등부
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7135,여자중등부,송채원,"[11, 10, 11, 11, 7]",3,무원중학교(경기),곽다연,"[6, 12, 9, 5, 11]",2,농소중학교(울산),패,예선경기１,제9회 회장배 전국 스쿼시 선수권 대회,2015.0,여,중등부
7136,여자중등부,김진솔,"[11, 11, 11, 0, 0]",3,연성중학교(인천),박주아,"[4, 8, 1, 0, 0]",0,천호중학교(서울),패,예선경기２,제9회 회장배 전국 스쿼시 선수권 대회,2015.0,여,중등부
7137,여자중등부,박주아,"[4, 8, 1, 0, 0]",0,천호중학교(서울),김진솔,"[11, 11, 11, 0, 0]",3,연성중학교(인천),승,예선경기２,제9회 회장배 전국 스쿼시 선수권 대회,2015.0,여,중등부
7138,여자중등부,김진솔,"[7, 7, 22, 0, 0]",0,연성중학교(인천),송채원,"[11, 11, 24, 0, 0]",3,무원중학교(경기),승,결승,제9회 회장배 전국 스쿼시 선수권 대회,2015.0,여,중등부
7139,여자중등부,송채원,"[11, 11, 24, 0, 0]",3,무원중학교(경기),김진솔,"[7, 7, 22, 0, 0]",0,연성중학교(인천),패,결승,제9회 회장배 전국 스쿼시 선수권 대회,2015.0,여,중등부

In [10]:
count =0
wo = []

for i in range(len(last_5yrs)):
    score = last_5yrs['Player Game Scores'][i]
    if score == str([0,0,0,0,0]):
        count+=1
        wo.append(i)


last_5yrs = last_5yrs.drop(wo, axis = 0)
last_5yrs

,Division,Oppoenent,Opponent Game Scores,Opponent Games Won,Opponent Team,Player,Player Game Scores,Player Games Won,Player Team,Result,Stage,Tournament,Year,Gender,Category
2,남자고등부,지동현,"[11, 11, 11, 0, 0]",3,김해생명과학고등학교(경남),이민규,"[7, 1, 3, 0, 0]",0,와룡고등학교(대구),패,예선경기２,제100회 전국체육대회(스쿼시),2019.0,남,고등부
3,남자고등부,이민규,"[7, 1, 3, 0, 0]",0,와룡고등학교(대구),지동현,"[11, 11, 11, 0, 0]",3,김해생명과학고등학교(경남),승,예선경기２,제100회 전국체육대회(스쿼시),2019.0,남,고등부
4,남자고등부,유민석,"[2, 3, 1, 0, 0]",0,인천 대건고등학교(인천),강우석,"[11, 11, 11, 0, 0]",3,언양고등학교(울산),승,예선경기３,제100회 전국체육대회(스쿼시),2019.0,남,고등부
5,남자고등부,강우석,"[11, 11, 11, 0, 0]",3,언양고등학교(울산),유민석,"[2, 3, 1, 0, 0]",0,인천 대건고등학교(인천),패,예선경기３,제100회 전국체육대회(스쿼시),2019.0,남,고등부
6,남자고등부,이민우,"[11, 11, 11, 0, 0]",3,충북상업정보고등학교(충북),고동훈,"[1, 8, 9, 0, 0]",0,쌍용고등학교(충남),패,예선경기１,제100회 전국체육대회(스쿼시),2019.0,남,고등부
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7135,여자중등부,송채원,"[11, 10, 11, 11, 7]",3,무원중학교(경기),곽다연,"[6, 12, 9, 5, 11]",2,농소중학교(울산),패,예선경기１,제9회 회장배 전국 스쿼시 선수권 대회,2015.0,여,중등부
7136,여자중등부,김진솔,"[11, 11, 11, 0, 0]",3,연성중학교(인천),박주아,"[4, 8, 1, 0, 0]",0,천호중학교(서울),패,예선경기２,제9회 회장배 전국 스쿼시 선수권 대회,2015.0,여,중등부
7137,여자중등부,박주아,"[4, 8, 1, 0, 0]",0,천호중학교(서울),김진솔,"[11, 11, 11, 0, 0]",3,연성중학교(인천),승,예선경기２,제9회 회장배 전국 스쿼시 선수권 대회,2015.0,여,중등부
7138,여자중등부,김진솔,"[7, 7, 22, 0, 0]",0,연성중학교(인천),송채원,"[11, 11, 24, 0, 0]",3,무원중학교(경기),승,결승,제9회 회장배 전국 스쿼시 선수권 대회,2015.0,여,중등부
7139,여자중등부,송채원,"[11, 11, 24, 0, 0]",3,무원중학교(경기),김진솔,"[7, 7, 22, 0, 0]",0,연성중학교(인천),패,결승,제9회 회장배 전국 스쿼시 선수권 대회,2015.0,여,중등부

In [191]:
last_5yrs.to_excel("2015_2019_All_Match_Results.xlsx", index = None)
last_5yrs.to_csv("2015_2019_All_Match_Results.csv", index = None)

## Player Data

In [11]:
all_data = pd.read_csv("2015_2019_All_Match_Results.csv", encoding = 'cp949')

In [12]:
players = all_data.Player.drop_duplicates().reset_index(drop = True)
players

0      이민규
1      지동현
2      강우석
3      유민석
4      고동훈
      ...
754    박지완
755    선나라
756    성제은
757    김민우
758    김지원
Name: Player, Length: 759, dtype: object

In [13]:
dic = {}

for player in tqdm(players):
    player_result = all_data[all_data.Player == player].reset_index(drop = True)
    match_count = len(player_result)
    wins = len(player_result[player_result.Result == '승'])
    loss = len(player_result[player_result.Result == '패'])
    NAN = len(player_result[player_result.Result == 'nan'])
    gender = player_result.Gender[0]
    
    win_per = round(wins/(match_count-NAN)*100, 2)
    ls = [gender, match_count, wins, loss, NAN, win_per]
    dic[player] = ls

100%|██████████| 759/759 [00:01<00:00, 384.97it/s]

In [14]:
dfdf = pd.DataFrame().from_dict(dic).T
dfdf.columns = ['Gender','Total Matches', 'Win', 'Loss', 'N/A', "Win %"]
dfdf

    Gender Total Matches Win Loss N/A  Win %
이민규      남            11   3    8   0  27.27
지동현      남            22   7   15   0  31.82
강우석      남            46  30   16   0  65.22
유민석      남            12   0   12   0      0
고동훈      남             1   0    1   0      0
..     ...           ...  ..  ...  ..    ...
박지완      남             1   0    1   0      0
선나라      여             1   0    1   0      0
성제은      여             1   0    1   0      0
김민우      남             1   0    1   0      0
김지원      남             1   0    1   0      0

[759 rows x 6 columns]

In [196]:
dfdf.to_excel("Player_Win_Percentage_Summary_2015_2019.xlsx")
dfdf.to_csv("Player_Win_Percentage_Summary_2015_2019.csv")

## Total Sets

In [17]:
keyword1 = re.compile("실업")
keyword2 = re.compile("동호인")
keyword3 =re.compile("초등")

best_of_5 = all_data

for x in range(len(all_data)):
    tourney = all_data.Tournament[x]
    division =all_data.Division[x]
    
    result1 = re.search(keyword1,tourney)
    result2 = re.search(keyword2, tourney)
    result3 = re.search(keyword3, division)
    if (result1 or result2):
        best_of_5 = best_of_5.drop(x, axis=0)
        #print(tourney)
        
    if result3:
        best_of_5 = best_of_5.drop(x, axis=0)
        #print(division)
best_of_5

,Year,Tournament,Gender,Category,Division,Stage,Player Team,Player,Opponent Team,Oppoenent,Result,Player Games Won,Opponent Games Won,Player Game Scores,Opponent Game Scores
0,2019,제100회 전국체육대회(스쿼시),남,고등부,남자고등부,예선경기２,와룡고등학교(대구),이민규,김해생명과학고등학교(경남),지동현,패,0,3,"[7, 1, 3, 0, 0]","[11, 11, 11, 0, 0]"
1,2019,제100회 전국체육대회(스쿼시),남,고등부,남자고등부,예선경기２,김해생명과학고등학교(경남),지동현,와룡고등학교(대구),이민규,승,3,0,"[11, 11, 11, 0, 0]","[7, 1, 3, 0, 0]"
2,2019,제100회 전국체육대회(스쿼시),남,고등부,남자고등부,예선경기３,언양고등학교(울산),강우석,인천 대건고등학교(인천),유민석,승,3,0,"[11, 11, 11, 0, 0]","[2, 3, 1, 0, 0]"
3,2019,제100회 전국체육대회(스쿼시),남,고등부,남자고등부,예선경기３,인천 대건고등학교(인천),유민석,언양고등학교(울산),강우석,패,0,3,"[2, 3, 1, 0, 0]","[11, 11, 11, 0, 0]"
4,2019,제100회 전국체육대회(스쿼시),남,고등부,남자고등부,예선경기１,쌍용고등학교(충남),고동훈,충북상업정보고등학교(충북),이민우,패,0,3,"[1, 8, 9, 0, 0]","[11, 11, 11, 0, 0]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6808,2015,제9회 회장배 전국 스쿼시 선수권 대회,여,중등부,여자중등부,예선경기１,농소중학교(울산),곽다연,무원중학교(경기),송채원,패,2,3,"[6, 12, 9, 5, 11]","[11, 10, 11, 11, 7]"
6809,2015,제9회 회장배 전국 스쿼시 선수권 대회,여,중등부,여자중등부,예선경기２,천호중학교(서울),박주아,연성중학교(인천),김진솔,패,0,3,"[4, 8, 1, 0, 0]","[11, 11, 11, 0, 0]"
6810,2015,제9회 회장배 전국 스쿼시 선수권 대회,여,중등부,여자중등부,예선경기２,연성중학교(인천),김진솔,천호중학교(서울),박주아,승,3,0,"[11, 11, 11, 0, 0]","[4, 8, 1, 0, 0]"
6811,2015,제9회 회장배 전국 스쿼시 선수권 대회,여,중등부,여자중등부,결승,무원중학교(경기),송채원,연성중학교(인천),김진솔,승,3,0,"[11, 11, 24, 0, 0]","[7, 7, 22, 0, 0]"
6812,2015,제9회 회장배 전국 스쿼시 선수권 대회,여,중등부,여자중등부,결승,연성중학교(인천),김진솔,무원중학교(경기),송채원,패,0,3,"[7, 7, 22, 0, 0]","[11, 11, 24, 0, 0]"

In [32]:
dic2={}
players = best_of_5.Player.drop_duplicates().reset_index(drop = True)
 

for player in tqdm(players):
    player_result = best_of_5[best_of_5.Player == player].reset_index(drop = True)
    matches_won = player_result[player_result['Result'] == '승']
    matches_lost = player_result[player_result['Result'] == '패']
    
    matches_won_sets_won = matches_won['Player Games Won'].astype('int64').sum()
    matches_won_sets_lost = matches_won['Opponent Games Won'].astype('int64').sum()
    number_matches_won = len(matches_won)
    
    
    matches_lost_sets_won = matches_lost['Player Games Won'].astype('int64').sum()
    matches_lost_sets_lost = matches_lost['Opponent Games Won'].astype('int64').sum()
    number_matches_lost = len(matches_lost)
    
    sets_won = matches_won_sets_won+matches_lost_sets_won
    sets_lost = matches_won_sets_lost + matches_lost_sets_lost
    
    total_sets = sets_won+sets_lost
    total_matches = len(player_result)
    
    gender = player_result.Gender[0]
    
    set_ratio = round(sets_won/sets_lost, 2)
    #sets_won_per_match_won = round(matches_won_sets_won/number_matches_won, 2)
    sets_lost_per_match_won = round(matches_won_sets_lost/number_matches_won, 2)
    
    sets_won_per_match_lost = round(matches_lost_sets_won/number_matches_lost, 2)
    #sets_lost_per_match_lost = round(matches_lost_sets_lost/number_matches_lost, 2)
    win_percent = round(number_matches_won/total_matches, 2)
    
    
    ls2 = [gender, total_matches, total_sets, win_percent, number_matches_won, matches_won_sets_lost, number_matches_lost, matches_lost_sets_won,
           sets_won, sets_lost, sets_lost_per_match_won, sets_won_per_match_lost, set_ratio]
    dic2[player] = ls2

  0%|          | 0/399 [00:00<?, ?it/s]<ipython-input-32-dd42357c6a7e>:29: RuntimeWarning: invalid value encountered in longlong_scalars
  sets_lost_per_match_won = round(matches_won_sets_lost/number_matches_won, 2)
 62%|██████▏   | 249/399 [00:00<00:00, 487.31it/s]<ipython-input-32-dd42357c6a7e>:31: RuntimeWarning: invalid value encountered in longlong_scalars
  sets_won_per_match_lost = round(matches_lost_sets_won/number_matches_lost, 2)
100%|██████████| 399/399 [00:00<00:00, 507.51it/s]

In [34]:
df2 = pd.DataFrame().from_dict(dic2).T
df2.columns = ["Gender", "Total Matches", "Total Sets", "Win %", "Matches Won", "Sets lost for Won Matches", "Matches Lost", "Sets won for Lost Matches", 
               "Total Sets Won", "Total Sets Lost","Average Sets Lost per Won Matches", "Average Sets Won for Lost Matches", "Sets Won: Sets Lost"]
df2.to_excel("Player Match Set Data.xlsx")

df2

,Gender,Total Matches,Total Sets,Win %,Matches Won,Sets lost for Won Matches,Matches Lost,Sets won for Lost Matches,Total Sets Won,Total Sets Lost,Average Sets Lost per Won Matches,Average Sets Won for Lost Matches,Sets Won: Sets Lost
이민규,남,11,35,0.27,3,2,8,0,9,26,0.67,0,0.35
지동현,남,22,78,0.32,7,2,15,10,31,47,0.29,0.67,0.66
강우석,남,46,163,0.65,30,11,16,14,104,59,0.37,0.88,1.76
유민석,남,12,36,0,0,0,12,0,0,36,NaN,0,0
고동훈,남,1,3,0,0,0,1,0,0,3,NaN,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
박지완,남,1,3,0,0,0,1,0,0,3,NaN,0,0
선나라,여,1,3,0,0,0,1,0,0,3,NaN,0,0
성제은,여,1,3,0,0,0,1,0,0,3,NaN,0,0
김민우,남,1,4,0,0,0,1,1,1,3,NaN,1,0.33
김지원,남,1,3,0,0,0,1,0,0,3,NaN,0,0